<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>WeatherBrickTests</key>
		<dict>
			<key>testPerformanceGetWeatherData()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceInfoView()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000140</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Disk.logical_writes</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceLoadViewMain()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.006878</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>16800.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>11000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.003240</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.006090</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Disk.logical_writes</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>10.600000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceLoadViewStone()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceMainView()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000150</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Disk.logical_writes</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testPerformanceReachability()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000223</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>10800.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>6907.967400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.003110</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>15.000000</real>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000312</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>15.000000</real>
				</dict>
				<key>com.apple.dt.XCTMetric_Disk.logical_writes</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>30.000000</real>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>60.000000</real>
				</dict>
			</dict>
			<key>testPerformanceUpdateImage()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000026</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
